.Calculadora {
    margin: 50px;
    width: 300px;
}

.Calculadora .botoes {
    display: flex;
}

.Calculadora .botoes .input {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.Calculadora .botoes .funcao {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}